{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Background image -->
<div class="container-fluid">
    <div class="container-fluid">
        <div
            class="p-5 text-center bg-image"
            style="
              background-image: url({% static 'img/GreenGrass_850x240.jpg'%});
              height: 150px;
            "
        >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0)">
              <div class="d-flex justify-content-center align-items-center h-50">
                <div class="text-white">
                  <h1 class="mb-3">Architecture</h1>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<img src="{% static 'img/greengrass.png'%}" alt="Architecture" width="600">
<p>Copyrights: N. Mihaylov</p>
{% endblock %}