{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Background image -->
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url({% static 'img/GreenGrass_850x240.jpg'%});
      height: 150px;
    "
>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0)">
      <div class="d-flex justify-content-center align-items-center h-50">
        <div class="text-white">
          <h1 class="mb-3">Pi4 Sensor status</h1>
        </div>
      </div>
    </div>
</div>
<!-- Background image -->

<img src="data:image/png;base64,{{ data }}"
       alt="some text to display to your users when the image does not show correctly"
       width=500 height=auto />
<div class="container-fluid navbar">Mode:</div>
<style>
        .toggle.android { border-radius: 0px;}
        .toggle.android .toggle-handle { border-radius: 0px; }
</style>
<div class="container-fluid">
  <input type="checkbox"
           checked
           data-toggle="toggle"
           data-style="android"
           data-on="Auto"
           data-off="Manual"
           data-onstyle="success"
           data-offstyle="danger">
</div>
{% endblock %}