<!-- https://github.com/nauvalazhar/bootstrap-4-login-page -->
{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/my-login.css' %}">
{% endblock custom_css %}
{% block content %}
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="{% static 'img/reset_done.jpg'%}" alt="forgot">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Password reset</h4>
							<hr>
							<p>
								We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
								You should receive them shortly.
							</p>
							<p>
								If you don’t receive an email, please make sure you’ve entered the address you registered with,
								and check your spam folder.
							</p>
							<hr>
							<a class="btn btn-dark btn-primary btn-block" href="{% url 'index'%}">Go to main page</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
{% endblock %}
{% block custom_js %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="{% static 'js/my-login.js' %}"></script>
{% endblock custom_js %}